.pokeContainer {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #fff;
    min-width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.logoDiv {
    display: flex;
    float: left;
    padding-top: 20px;
    padding-left: 74px;
    max-width: 220px;
    margin-top: 10px;
    margin-left: 80px;
}

.logo {
    height: 45px;
}

.logoText {
    font-size: 21px;
    font-weight: bold;
    padding-left: 12px;
    margin-top: 16px;
    color: rgb(6, 54, 25);
}

.topNav {
    padding-top: 38px;
    display: flex;
    place-self: flex-end;
    float: right;
    margin-left: 412px;
}

.topNav a {
    text-decoration: none;
    padding: 6px;
    font-weight: bold;
    font-size: 12px;
    color: rgb(6, 54, 25);
}

.pokeTitle {
    color: rgb(6, 54, 25);
    text-align: center;
    font-size: 42px;
    margin-top: 68px;
    font-weight: bold;
}

.searchZone {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

input {
    border-radius: 30px;
    border-style: solid;
    min-width: 506px;
    height: 44px;
}

input:focus {
    outline: none;
}

.button {
    padding: 13px 46px;
    border-radius: 30px;
    border-style: solid;
    margin-top: 0px;
    margin-left: 12px;
    color: white;
    font-size: 12px;
    background: rgb(63, 92, 209);
    background: -moz-linear-gradient(90deg, rgba(63, 92, 209, 1) 64%, rgba(63, 96, 185, 1) 66%, rgba(64, 101, 159, 1) 68%, rgba(65, 106, 134, 1) 70%, rgba(67, 124, 35, 1) 72%);
    background: -webkit-linear-gradient(90deg, rgba(63, 92, 209, 1) 64%, rgba(63, 96, 185, 1) 66%, rgba(64, 101, 159, 1) 68%, rgba(65, 106, 134, 1) 70%, rgba(67, 124, 35, 1) 72%);
    background: linear-gradient(90deg, rgba(63, 92, 209, 1) 64%, rgba(63, 96, 185, 1) 66%, rgba(64, 101, 159, 1) 68%, rgba(65, 106, 134, 1) 70%, rgba(67, 124, 35, 1) 72%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5cd1", endColorstr="#437c23", GradientType=1);
}

.button:focus {
    outline: none;
}

.pokeSubContainer {
    max-width: 888px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    margin-top: 32px;
}

.pokeSubContainerSearch {
    max-width: 888px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    margin-top: 32px;
}

.item {
    max-width: 190px;
    border: 3px solid;
    margin: 10px 15px;
    border-radius: 15px;
    border-color: rgb(236, 235, 235);
    justify-content: center;
    box-shadow: 3px 3px lightgrey;
}

.pokeImg {
    background-color: rgb(133, 247, 247);
    border-radius: 50%;
    height: 86px;
    padding: 6px;
    margin: 12px 46px;
    margin-bottom: 0px;
}

.pokeItemTitle {
    text-align: center;
    font-size: 23px;
    margin-top: 4px;
    text-transform: capitalize;
}


.pokeP {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

.pokeButton {
    padding: 13px 46px;
    border-radius: 30px;
    border-style: solid;
    color: white;
    margin-left: 11px;
    font-size: 12px;
    margin-bottom: 14px;
    background: rgb(63, 92, 209);
    background: -moz-linear-gradient(90deg, rgba(63, 92, 209, 1) 64%, rgba(63, 96, 185, 1) 66%, rgba(64, 101, 159, 1) 68%, rgba(65, 106, 134, 1) 70%, rgba(67, 124, 35, 1) 72%);
    background: -webkit-linear-gradient(90deg, rgba(63, 92, 209, 1) 64%, rgba(63, 96, 185, 1) 66%, rgba(64, 101, 159, 1) 68%, rgba(65, 106, 134, 1) 70%, rgba(67, 124, 35, 1) 72%);
    background: linear-gradient(90deg, rgba(63, 92, 209, 1) 64%, rgba(63, 96, 185, 1) 66%, rgba(64, 101, 159, 1) 68%, rgba(65, 106, 134, 1) 70%, rgba(67, 124, 35, 1) 72%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5cd1", endColorstr="#437c23", GradientType=1);
}

.foot {
    color: rgb(6, 6, 100);
    font-weight: bold;
    text-align: center;
}

.fas {
    visibility: hidden;
}



@media (max-width: 770px) {

    .pokeSubContainer {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pokeSubContainerSearch {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topNav {
        display: none;
    }

    .logoDiv {
        float: left;
        margin-left: 20px;
    }

    .fas {
        visibility: visible;
        float: right;
        margin-top: 44px;
        margin-right: 80px;
    }

    .pokeTitle {
        font-size: 42px;
    }

    label {
        min-width: 210px;
        margin-left: auto;
        margin-right: auto;

    }

    .searchZone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 36px;

    }

    .button {
        margin-top: 12px;
        margin-left: auto;
        margin-right: auto;
    }

    .pokeItemTitle {
        font-size: 24px;
    }
}